name: CI

on:
  push:
    branches: [secrets]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
          NODE_VERSION: 24
    steps:
      - name: Print node version
        run: echo "Node version de node: ${{ env.NODE_VERSION}}"